<div class="container mt-5">
  <div class="d-flex justify-content-center text-center">
    <table class="table table-hover mt-4" style="width: 550px;">
      <thead>
        <tr class="table-primary">
          <th scope="col">Full URL</th>
          <th scope="col">Short URL</th>
          <th scope="col">Clicks</th>
        </tr>
      </thead>
      <tbody>
        {{#each url}}
        <tr class="table-light">
          <td><a href="{{this.urlFull}}">{{this.urlFull}}</a></td>
          <td><a href="{{this.urlShort}}">{{this.urlShort}}</a></td>
          <td>{{this.click}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>